@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

/* header */

header {
    background-color:#A306B6; 
    height:50vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}
header nav img{
    width: 80px; 
    padding-top: 1rem;
}   

nav {
   display: flex;
   flex-direction: column;
   align-items:center ;
}
/* @media screen and (width >=992px) */
@media screen and (min-width:992px) {
    nav { 
        flex-direction: row;
        justify-content: space-between;
    }

}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: white;
    /* padding: 1rem; */
}

.avatar img {
    width: 13rem;
    border-radius: 50%;
    border: solid white;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 1rem;
}

.avatar h1 {
    color:white ;
    margin-top:1rem ;
    max-width: 10ch;
    text-align: center;
    
}

h1, h2, h3{
    font-family: "Montserrat", sans-serif;
}

p, a {
    font-family: "Souce sans 3", sans-serif;
}
    
footer {
  background-color: #D9D9D9; 
  text-align: center;
  padding: 1rem;

}

footer a {
    color: #A306B6;
}

article {
    background-color:  #D9D9D9;
    display: flex;
    align-items: center;
    flex-direction: column;  
    margin-bottom: 1.5rem;  
    /* même chose que les padding à la ligne 95 et 99 */
    /* gap: 1.5rem; */
    margin:1rem;
    border-radius: 1rem;
}

article img {
    height: 250px;
    padding-bottom: 1.5rem;
    
}

article h3 {
    padding-bottom: 1.5rem;
}

article a{
    background-color :#A306B6;
    border-radius: 50px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin-bottom: 1rem;
}

h2{
    text-align: center;
    margin: 1rem 0;
    color: #A306B6;
}

/* autre moyen de centrer la première section 
section {
    width: 80%;
    margin: 1rem auto;
} */

/* section p{
    margin: 1rem;
    max-width:65ch ;
} */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.about p {
    max-width: 65ch;
    margin: 0 1rem;
    
}

.about p:first-child {
    margin-bottom: 1rem;
}

